.knowledges {
  .groupKnowledges {
    display: flex;
    align-items: center;
    h4 {
      font-weight: 100;
    }
  }
  .academicLanguage {
    position: relative;
    div {
      display: flex;
      div {
        width: 100%;
        margin-top: 2rem;
        align-items: center;
        span {
          z-index: 1;
        }
      }
      ul {
        display: flex;
        width: 100%;
        left: 22rem;
        position: absolute;
        li {
          position: relative;
          width: 133.594px;
          &:after {
            @include borderKnowledges;
            left: 0;
          }
        }
      }
    }
    .knowledgesBorder {
        top: 14rem;
    }
  }
  .certification {
    ul {
        li {
            display: flex;
            img {
                margin-left: 1rem;
            }
        }
    }
  }
  .totalYears {
    height: 100%;
    display: flex;
    position: absolute;
    width: 83.5%;
    top: -2rem;
    left: 22rem;
    .years {
      position: relative;
      margin-top: 0;
      &:after {
        content: "";
        @include borderKnowledges;
        left: 0;
      }
    }
  }
  .knowledgesBorder {
    content: "";
    height: 3px;
    display: inline-block;
    background-color: $orange-color;
    margin-left: 22rem;
    position: absolute;
    border-radius: 50px;
  }
}
