.portfolio-page {
  main {
    div {
      .allFilter {
        margin: 3rem 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        div {
          margin: 1rem 1rem;
          align-items: flex-start;
          display: flex;
          label {
            font-size: 1.8rem;
          }
          input[type="radio"] {
            margin-left: 1rem;
            outline: none;
            position: relative;
            cursor: pointer;
            visibility: hidden;

            &::after {
              content: "";
              display: inline-block;
              position: absolute;
              width: 100%;
              height: 100%;
              visibility: visible;
              border: 2px solid orange;
              border-radius: 50px;
              right: 0;
              transition: 0.25s;
            }
            &:checked {
              &::after {
                background-color: orange;
              }
            }
          }
        }
      }
      button,
      a {
        cursor: pointer;
        text-transform: capitalize;
        display: block;
        margin: 0 auto;
        border: none;
        @include borderGold;
        color: $white-color;
        padding: 1rem;
        transition: 0.25s;
        &:focus {
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5) inset;
        }
      }
      a {
        width: max-content;
      }
    }

    .allCard {
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      div:not(.icons, .flex-colum) {
        background-color: $primary-bg;
        border-radius: $secondary-border-radius;
        width: 20rem;
        text-align: center;
        margin: 3rem 1rem;
        .icons {
          display: flex;
          justify-content: center;
          img {
            + img {
              margin-left: 5px;
            }
          }
        }
        .flex-colum {
          flex-direction: column;
          display: flex;
          align-items: center;
        }
        h3 {
          margin: 2rem 0 5px 0;
        }
      }
      .imgProject {
        margin: 1rem 0;
        height: 10rem;
        width: 100%;
        padding: 0 1rem;
      }
      .check {
        margin-bottom: 1rem;
        cursor: pointer;
      }
      .showInfo {
        padding: 2rem;
        @include borderGold;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70% !important;
        img {
          position: absolute;
          right: 0;
          margin: 0 1rem;
          cursor: pointer;
        }
        h3 {
          margin-top: 0 !important;
        }
      }
    }
  }
}
