.selectAllPage {
  .resume-page {
    h2 {
      margin: $margin-primary 0;
    }
    h3 {
      margin-left: 0;
      font-size: 2rem;
    }
    .info {
      margin: 0;
    }
    .allWithoutAcademic {
      position: relative;
    }
  }
}
